#   ignore everything
:w":w`

#   but don't ignore these:
!.ackrc.sample
! /scripts
!.bash_aliases.sample
!.bash_aliases
!.bash_functions.sample
!.bash_functions
!.bash_logout
!.bash_profile
!.bashrc
!.env_vars.sample
!.env_vars
!.gitconfig
!.gitignore
!.gitmessage
!.gvimrc.sample
!.tmux.conf.sample
!.tmux.conf
!.vimrc.sample
!README.md
!tmux-dev.sample
